@import "tailwindcss";


.quick-links li a:hover{
    color: rgb(54, 54, 230);
    font-weight: 900;
    font-size: larger;
}

.categories li a:hover{
    color: rgb(54, 54, 230);
    font-weight: 900;
    font-size: larger;
}
.footer-policy li a:hover{
    color: rgb(54, 54, 230);
    font-weight: 900;
    font-size: larger;
}
.img-container{
    transform: scale(1);
    transition: transform 0.5s ease-out;
}
